# Grid setup
n_phi: 7
rmin: 0.001
r_v: 0.1, 0.4, 1.0
r_i: 12, 8, 7

# Files for kernels, weights and evolution operators
kf: ./fi_kernels.cereal
wf: ./d2_weights.cereal, ./elt_weights.cereal
eo: eo1.cereal

# Final scales, must be in 1to1 correspondence
# with the evolution operators files.
# Scales in GeV^2
FinalScales: 100
InitialScale: 1

# Quark mass thresholds. All 6 quarks must be specified.
# These must be m_q^2 in GeV^2
mthr: 0, 0, 0, 1.6129, 17.4724, 1.0e+6 