# Grid setup
n_phi: 7
rmin: 0.001
r_v: 0.1, 0.4, 1.0
r_i: 12, 8, 7

# Files for kernels, weights and evolution operators
kf: ./fi_kernels.cereal
wf: ./d2_weights.cereal, ./elt_weights.cereal
eo: eo_1t4.cereal, eo_4t25.cereal, eo_25t100.cereal

# These are [Q0^2, Q1^2,.., Qf^2]
Scales: 1, 4, 25, 100

# Quark mass thresholds. All 6 quarks must be specified.
# These must be m_q^2 in GeV^2
mthr: 0, 0, 0, 1.6129, 17.4724, 1.0e+6 